{% extends 'base.html.twig' %}

{% block body %}
    <h2>Wish Detail</h2>
    
    <div>
        <a href="{{ path('wish_update', {'id': wish.id}) }}"><button>Update</button></a>
        <h2>{{ wish.title }}</h2>
        <div>Description : {{ wish.description }}</div>
        <div>Author : {{ wish.author }}</div>
        <div>{{ wish.dateCreated | date('Y-m-d H:i:s') }}</div>
        <div>Category : {{ wish.category }}</div>
    </div>
{% endblock %}

{% block title %}
    Detail !
{% endblock %}

