<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucket-List{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
</head>
<body>

<div class="container">
<header>
    <a href="{{ path('main_home') }}">
        <div class="div-flex">
            <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List">
            <h2>Bucket-List !</h2>
        </div>
    </a>
    {% include 'menu/nav.html.twig' %}
</header>
<main>
    {% for message in app.flashes('success') %}
        <div class="flash flash-success">
            {{ message }}
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
</main>

<footer>
    <div>&copy;Bucket-List {{ "now" | date('Y') }}</div>
</footer>

</div>

</body>
</html>
